@charset "UTF-8";

/*
____________________________
Pequenas telas: até 600px 
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/



@media screen and (max-width: 320px){
    #main {
        margin: 20px 0px 20px 0px;
    }
    #containerCard {
        
        margin: auto;
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #cardID {
        margin: auto;
        width: 48%;
        padding: 0;
        margin: 0 0.1px 0 4px;
    }

    /*INÍCIO FOOTER*/
    .footer {
        width: 100%;
        background-color: rgba(3, 3, 3, 0.932);
        color: white;
    }
    .contentFooter {
        margin: auto;
        width: 98%;
        padding: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-col {
        width: 98%;
        padding: 5px 10px 5px 10px;
    }
    .footer-col-links {
        text-decoration: none;
    }
    .footer-autorais {
        width: 100%;
    }
    /*FIM FOOTER*/

}

