@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid black;
}

 /* Container para organizar as imagens */
 .container {
    border: 1px solid rgba(114, 112, 112, 0.63);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre as colunas de imagens */
    box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.541);
    border-radius: 5px;
 }

/* Coluna de 4 imagens */
.imagens-coluna {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre as imagens da coluna */
}

/* Estilo para as imagens pequenas */
.imagem-grande {
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho sem distorção */
}

#caracteristicas {
    border: 1px solid black;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0 5px 0;
}

h2 {

}
p {
    margin: 5px 0 5px 0;
}

a {
    text-decoration: none;
    margin: 5px 0 5px 0;
    transition: all .4s ease-in-out;
    color: blue;
}

a:hover {
    color: cadetblue;
}

ul > li {
    margin: 10px 0 5px 0;
    font-family:  Arial, Helvetica, sans-serif;
    text-align: justify;
    list-style-position: inside;/*Alinha os elementos da lista com os outros textos.*/
}

div#cor {
    width: 20px;
    height: 20px;
    display: flex;
}

#cor > img {
    border: 1px solid black;
    margin-right: 5px;
    padding: 3px;
}